<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titulo</key>
		<string>ios programming cookbook</string>
		<key>isbn</key>
		<string>9781449372422</string>
		<key>cantidad</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>Beginning iOS 4 Application Development</string>
		<key>isbn</key>
		<string>9780470918029</string>
		<key>cantidad</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>titulo</key>
		<string>iPhone iOS 6</string>
		<key>isbn</key>
		<string>9781479211418</string>
		<key>cantidad</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
